/ThermeClient/nbproject/private/
/ThermeServer/nbproject/private/
/ThermeCore/nbproject/private/
/ThermeClient/build/
/ThermeCore/build/
/ThermeCore/dist/
/ThermeServer/build/
/ThermeServer/dist/
/ThermeClient/dist/